a:link, a:visited {
    color: #800000;
    text-decoration: none;
}
a:hover {
    color: #FF0000;
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('fotograflar/Gemini_Generated_Image_xent1nxent1nxent.png');
    background-attachment: fixed; /* Arka plan sabit kalsın */
    background-size: cover; /* Resmi ekrana yay */
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* İçerikleri alt alta diz */
    align-items: center;
}
#sayfa {
    width: 95%; /* Mobilde geniş başlasın */
    max-width: 1000px; /* Bilgisayarda çok yayılmasın */
    min-height: 90vh;
    border-radius: 14px;
    margin: 20px auto;
    background-color: #800000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 5px solid darkred;
     
}
#header{
    width: 90%;
    min-height: 7vh;
    border-radius: 14px;
    margin: 0 auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 10px;
}
#header-h1{
    text-align: center;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
    margin: 0;
    padding: 10px 0;
}
#nav{
    width: 90%;
    min-height: 5vh;
    border-radius: 14px;
    margin: 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-icerik{
    display: flex;
    gap: 20px;
    text-align: center;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
}
.icerik-alani {
    display: flex;
    flex-wrap: wrap; /* Sığmazsa alt satıra geç */
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}
#article{
    width: 90%;
    min-height: 60vh;
    border-radius: 14px;
    margin: 0 auto 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    
}
#article-h2{
    text-align: center;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.6em;
    margin: 20px 0;
}
#article-p{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}
#article-anilarimiz{
    width: 70%;
    min-height: 60vh;
    border-radius: 14px;
    margin: 0 auto 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    float: left;
}
#article-nedensen{
    width: 90%;
    min-height: 60vh;
    border-radius: 14px;
    margin: 0 auto 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #800000;
    font-family: 'Arial', sans-serif;
}
#article-p2{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    
}
#nedensen-list{
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 20px;
}
#aside-anilarimiz{
    width: 20%;
    min-height: 60vh;
    border-radius: 14px;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    float: right;
    font-family: 'Arial', sans-serif;
    color: #800000;
    position: sticky;
    top: 0px;
    margin: 0 auto 20px 0;
}
#aside-ul{
    list-style-type: square;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
#mangal{
    width: 100%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#mangal2{
    width: 100%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#p-mangal{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-indent: 50px;
    line-height: 1.5;
}
#p-kucukluk{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-indent: 50px;
    line-height: 1.5;
}
#p-kucukluk2{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-indent: 50px;
    line-height: 1.5;
}
.kucukluk{
    width: 49%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#askimin-kucukluk{
    width: 100%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#kucuklugum{
    width: 100%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#mektup{
    text-align: justify;
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-indent: 50px;
    line-height: 1.5;
}
#mektup-h2{
    color: #800000;
    font-family: 'Arial', sans-serif;
    font-size: 1.6em;
    margin: 20px 0;
}
#footer{
    width: 88%;
    min-height: 5vh;
    border-radius: 14px;
    margin: 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
}
#footer-anilarimiz{
    width: 100%;
    min-height: 5vh;
    border-radius: 14px;
    margin: 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
}
#footer-nedensen{
    width: 94%;
    min-height: 5vh;
    border-radius: 14px;
    margin: 20px auto;
    background-color:#FAEBD7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;
}
#sayfabasi{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}